# ── Django ────────────────────────────────────────────────────────────────────
DEBUG=True
PORT=3333
SECRET_KEY=substitua-por-uma-chave-real
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# ── Seleção de banco ──────────────────────────────────────────────────────────
# Valores aceitos: "sqlite" | "postgres" | "mysql"
# SQLite (default — no profile needed)
DB=sqlite


# MySQL (comente todos os outros e descomente as linhas abaixo, utilize o profile mysql no docker compose)

# DB=mysql
# DB_HOST=$DB
# DB_PORT=3306
# DB_NAME=django_db
# DB_USER=django_user
# DB_PASSWORD=django_password
# MYSQL_ROOT_PASSWORD=django_root_password


# PostgreSQL (comente todos os outros e descomente as linhas abaixo, utilize o profile postgres no docker compose)

# DB=postgres
# DB_HOST=$DB
# DB_PORT=5432
# DB_NAME=django_db
# DB_USER=django_user
# DB_PASSWORD=django_password
